/*
====================================
Global styles
====================================
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.5rem;  
  padding: 2rem 0; 

}
h3{
  font-size: 1.2rem;   
  margin-bottom: 10px;
}

h4{
  font-size: 0.75rem;   
}

h1,h2,h4{
    text-align: center;
}


/*
====================================
Menu (tela grande)
====================================
*/

.nav--hidden{
  transform: translateY(-80px);
}

.menu_grande ul{
    background-color: transparent;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
}

.menu_grande li{
    color: rgb(49, 149, 50);
    font-size: 2rem;
    font-weight: 900;
    margin: 1rem 2rem;
    float: right;
    transition: .5s;
}
.menu_grande li:hover{
 background-color: rgb(77, 121, 56);
 padding: 1rem;
 border-radius: 1rem;
 color: #fff;
}

/*
====================================
Menu (lateral)
====================================
*/

.menu_lateral{
    display: none;
    transform: translateY(100%);
}

/*
====================================
Banner
====================================
*/

.banner_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner_title_background{
    background-color: rgba(237, 234, 234, 0.43);
    /* border: 2px solid black; */
    border-radius: 1rem;
    padding: 1rem 0;
    margin-bottom: 3rem;
}

.banner_title h1, p{
    color: #000;
}
.banner_title p{
    max-width: 40rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    font-weight: 900;
}

.banner_btn{
    font-size: 2rem;
    background-color: rgb(77, 121, 56);
    border: 1px solid black;
    color: #fff;
    border-radius: 2rem;
    padding: 1rem 2rem;
    transition: .5s;
}

.banner_btn:hover{
    background-color:#fff;
    color: rgb(77, 121, 56);
}

.banner_img{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-image: linear-gradient(0,0,0,0.5);
}

/*
====================================
Gastronomia
====================================
*/

.food_container{
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.squarespace-cdn.com/content/v1/53b839afe4b07ea978436183/1608506169128-S6KYNEV61LEP5MS1UIH4/traditional-food-around-the-world-Travlinmad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.food_background{
    width: 100vw;
    background-color: yellow;
}

.food_box{
    width: 260px;
    height: 210px;
    padding: 1rem;
    background-color: rgb(225, 225, 106);
    box-shadow: 1px 20px 6px  black;
    border-radius: 50%;
    box-shadow: 10px 10px 6px  black;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.food_box_content h3{
    margin-bottom: 10px;
}

@media screen and (max-width:678px){
   .box{
       display: grid;
       grid-template-columns: 1fr;
 }
}
    
.btn-container{
  position: absolute;
  top: 190%;
}

#food_audio_btn, #food_text_btn{
    border-style: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    transition: .5s;
    margin-top: 1rem;
    cursor: pointer;
}


#food_audio_btn{
    background-color: red;
    color: #fff;
    margin-right: 10px;
}

#food_audio_btn:hover{
    background-color: #fff;
    color: red;
}

#food_text_btn{
    background-color: yellow;
    color: #000;
    margin-left: 10px;
}

#food_text_btn:hover{
    background-color: #000;
    color: yellow;
}

/*
====================================
vida noturna
====================================
*/

.night_life_container:not(.night_btn_container){
    width: 100vw;
    height: 100vh;
    background-image: url(https://sozbg.rs/wp-content/uploads/2021/10/Belgrade-nightlife-tips-for-how-to-survive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.night_life_box{
    width: 250px;
    height: 200px;
    background-color: rgb(200, 108, 200);
    box-shadow: 10px 10px 6px  black;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.night_life_box_content h3{
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 900;
}

.night_life_box_content p{
    margin: 0 1rem;
    padding: 0 1rem;
}

.night_life_title{
   background-color: #000;
   color: #fff;
}

.night_btn_container{
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 transform: translate(-50%, -50%);
 left: 50%;
 top:320%;
 margin-right: 20px;
}


#night_life_audio_btn, #night_life_text_btn{
    border-style: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    transition: .5s;
    margin-top: 1rem;
    cursor: pointer;
}


#night_life_audio_btn{
    border-style: none;
    background-color: purple;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}

#night_life_audio_btn:hover{
    background-color:#fff ;
    /* border: 1px solid purple; */
    color: purple;
}

#night_life_text_btn{
    border-style: none;
    background-color: #fff;
    color: purple;
    margin-left: 20px;
    cursor: pointer;
}

#night_life_text_btn:hover{
    background-color:purple ;
    /* border: 1px solid purple; */
    color: #fff;
}

/*
====================================
Entretenimento
====================================
*/

.fun_container{
    width: 100vw;
    height: 100vh;
    background-image: url(https://dsdsuzy1jtjfw.cloudfront.net/wp-content/uploads/2019/11/beach-park_arrepius-credito-joomelo-2-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fun_title{
  background-color: lightsteelblue
}

.fun_box_content{
  margin-top: 1rem;
  padding: 1rem 0;
}

.fun_box_content p{
  margin: 1rem;
  padding: 0 1rem;
}

.fun_box{
    width: 250px;
    height: 200px;
    background-color: rgb(127, 165, 193);
    box-shadow: 10px 10px 6px  black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#fun_audio_btn, #fun_text_btn{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    transition: .5s;
    margin: 1rem 0;
}

#fun_audio_btn{
    border-style: none;
    background-color: rgb(71, 71, 179);
    color: #fff;
    cursor: pointer;
}

#fun_audio_btn:hover{
    background-color:#fff ;
    color: blue;
}

#fun_text_btn{
    border-style: none;
    background-color: rgb(71, 71, 179);
    color: #fff;
    cursor: pointer;
}

#fun_text_btn:hover{
    background-color:#fff ;
    color: blue;
}



/*
====================================
Rodapé
====================================
*/

.footer{
    background-color:#000;
    width: 100vw;
    height: 30vh;
}